DJANGO_SECRET_KEY=replace-with-very-strong-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=example.com,www.example.com,123.123.123.123
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com
DJANGO_SECURE_SSL_REDIRECT=True
ENABLE_DJANGO_EXTENSIONS=False

POSTGRES_ENABLED=True
POSTGRES_DB=thesis
POSTGRES_USER=thesis
POSTGRES_PASSWORD=replace-with-strong-postgres-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
